#################
## MATLAB
#################

Applications/Layered3D/bin/for_testing/*
Applications/Layered3D/bin/for_redistribution/Layered3D_full.exe
Applications/Layered3D/bin/PackagingLog.txt

Data/lightFields/**
Source/results/**